@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*
{
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header
{
    z-index: 100;
}
#cover
{
    z-index: -100;
}
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/

@media screen and (min-width: 1100px)
{
    /*!ВСЁ*/
    body
    {
        height: 100%;
    }
    main
    {
        position: relative;
        margin-top: 55px;
        width: 100%;
        height: auto;
    }
    /*!HEADER*/
    header
    {
        position: fixed;
        height: 55px;
        width: 100%;
        top: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: linear-gradient(270deg, #FDFF9C 7.78%, #FCFF57 18.19%, #D9FF9C 29.07%, #D3FF8A 38.54%, #79FF76 48.48%, #72FF80 58.89%, #68FFA4 68.83%, #98E6FF 79.71%, #40D1FF 91.07%);
        
    }

    #header_links_div 
    {
        width: 40%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .header_link
    {
        position: relative;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: #000000;
        top: -3px;
    }
    #header_link_img
    {
        position: relative;
        height: 50px;
    }
    #header_link_img > img
    {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
    }

    #sign_in_div
    {
        position: relative;
        width: 37px;
        height: 37px;
        right: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign_in_a
    {
        min-width: 100%;
        min-height: 100%;

        background-image: url(photos/icons/sign_in.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /*!ОБЛОЖКА*/
    #cover
    {
        height: 800px;
        width: 100%;
        position: relative;

        background: linear-gradient(0deg, #FFFFFF 12.54%, rgba(255, 255, 255, 0) 83.85%), linear-gradient(270deg, #FDFF9C 7.78%, #FCFF57 18.19%, #D9FF9C 29.07%, #D3FF8A 38.54%, #73FF71 48.48%, #72FF80 58.89%, #68FFA4 68.83%, #98E6FF 79.71%, #40D1FF 91.07%);
    }

    /*!FOOTER*/

    footer
    {
        position: relative;
        width: 100%;
        height: 400px;
        background: #f2f2f2;
    }

/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/

@media screen and (min-width: 660px) and (max-width: 970px)
{
    
}

/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media screen and (maw-width: 659px)
{
    
}