/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/

@media screen and (min-width: 1100px)
{
    #cover
    {
        position: absolute !important;
    }
    #portfolios_container
    {
        position: relative;
        top: 30px;
    }
    #portfolio_block
    {

        width: 70%;
        height: auto;
        position: relative;
    }


    #portfolio_search_container
    {
        height: 100px !important;
    }
    #portfolio_search_block
    {
        
    }
    /*
    #portfolio_nav
    {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        border-radius: 12px;
        background: #f7f7f7;
        filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.25));
    }
    #portfolio_nav > a
    {
        position: relative;
        text-decoration: none;
        font-size: 30px;
        color: black;
    }
    #portfolio_nav > a:hover
    {
        color: #a3a3a3;
    }
    */
    #portfolio
    {
        top: 30px;
        width: 100%;
        height: 700px;
        position: relative;

        border-radius: 12px;
        background: #f7f7f7;
        filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.25));
    }
}
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/

@media screen and (min-width: 660px) and (max-width: 970px)
{
    
}

/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media screen and (maw-width: 659px)
{
    
}