/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/
/*!БОЛЬШОЙ РАЗМЕР*/

@media screen and (min-width: 1100px)
{
    #cover
    {
        position: absolute !important;
    }
    #portfolios_container
    {
        position: relative;
        top: 40px;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portfolio_search_container
    {
        position: relative;
        width: 80%;
        height: 60px;
    }
    #portfolio_search_block
    {
        position: relative;
        width: 100%;
    }
    form
    {
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-around !important;
    }
    #search_portfolio
    {
        width: 700px;
        padding-left: 10px;
    }
    #submit
    {
        width: 200px !important;
    }
    #portfolio_container
    {
        position: relative;
        margin-top: 50px;
        width: 80%;
        height: auto;
    }
    #portfolio_block
    {
        margin-bottom: 10px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #portfolio_block > a
    {
        text-decoration: none;
        height: 40px;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .search_result
    {
        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .search_result > img
    {
        object-fit: contain;
        width: 40px;
    }
    .search_result > p
    {
        width: auto;
        font-size: 19px;
        margin-left: 5px;
        margin-bottom: 5px;
        color: black;
    }
    #portfolio_block > a:hover .search_result > p{
        background: linear-gradient(270deg, #E9CA00 7.78%, #009D3E 62.55%, #23B0E6 98.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    footer
    {
        top: 200px !important;
    }
}
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/

@media screen and (min-width: 660px) and (max-width: 970px)
{
    
}

/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media screen and (maw-width: 659px)
{
    
}