@media screen and (min-width: 1100px)
{
    main
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #cover
    {
        position: absolute !important;
    }
    #projects_block
    {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        margin-top: 30px;

        display: flex;
        flex-direction: column;
    }
    .two_projects_block
    {
        position: relative;
        width: 100%;
        max-height: 211px;
        margin-bottom: 30px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .project_block
    {
        position: relative;
        width: 45%;
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
    }
    .project_block > a > img
    {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 10px;
    }
}

/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/

@media screen and (min-width: 660px) and (max-width: 970px)
{
    
}

/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media screen and (maw-width: 659px)
{
    
}