@media screen and (min-width: 1100px)
{
    main
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #cover
    {
        position: absolute !important;
    }
    .project_container
    {
        top: 30px;
        position: relative;
        border-radius: 12px;
        background: #f7f7f7;
        filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.25));

        display: flex;
        justify-content: center;
    }
    #projects_preview_container
    {
        width: 60%;
        height: auto;
    }
    #projects_search_container
    {
        width: 30%;
        height: 280px;
    }
    #search_block
    {
        position: relative;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form
    {
        position: relative;
        width: 100%;
        min-height: 100%;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-evenly;
    }
    input
    {
        outline: none;
        border: none;
        border-radius: 7px;
        height: 30px;
        background: #ececec;
        padding-left: 5px;
        padding-right: 5px;
    }
    .search
    {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .date
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .date > input
    {
        max-width: 120px;
    }
    #submit
    {
        cursor: pointer;
        width: 50%;
        align-self: center;
    }
    #submit:hover
    {
        
        background: linear-gradient(270deg, #FCFF57 18.19%, #79FF76 42.92%, #72FF80 59.84%, #40D1FF 91.07%);
    }



    #projects_block
    {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        margin-top: 30px;

        display: flex;
        flex-direction: column;
    }
    .two_projects_block
    {
        position: relative;
        width: 100%;
        max-height: 211px;
        margin-bottom: 30px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .project_block
    {
        position: relative;
        width: 45%;
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
    }
    .project_block > a > img
    {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 10px;
    }
}

/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/
/*!СРЕДНИЙ РАЗМЕР*/

@media screen and (min-width: 660px) and (max-width: 970px)
{
    
}

/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/
/*!МОБИЛЬНЫЕ УСТРОЙСТВА*/

@media screen and (maw-width: 659px)
{
    
}